body{
   margin:0;
   padding:0;
   line-height: 1.5em;
   background-color: #AAA;
}

#maincontainer{
   width: 840px; /*Width of main container*/
   margin: 0 auto; /*Center container on page*/
   background-color: #CCC;
}

#topsection{
   background: #EAEAEA;
   height: 30px; /*Height of top section*/
}

#topsection h1{
   margin: 0;
   padding-top: 15px;
}

#contentwrapper{
   float: left;
   width: 100%;
}

#contentcolumn{
   margin: 0 190px 0 180px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#leftcolumn{
   float: left;
   width: 180px; /*Width of left column in pixel*/
   margin-left: -840px; /*Set margin to that of -(MainContainerWidth)*/
}

#rightcolumn{
float: left;
width: 190px; /*Width of right column*/
margin-left: -190px; /*Set left margin to -(RightColumnWidth)*/
}

#footer{
clear: left;
width: 100%;
text-align: center;
padding: 4px 0;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

/******************************************************************************/
#myCanvas {
}


#Center{
   margin: 0 190px 0 180px;
   background-color: #AAA;
   padding: 4px;

}
#Environment{
   width: 130px;
   background-color:#999;
   font-size: 10px;
}

#Environment table{
   width: 100%;
}

#Environment td{
   padding: 0px;
}

#Environment input{
   margin: 2px;
}

#Properties{
   background-color:#FFF;
   font-family: Arial, Helvetica, sans-serif;
   right: 0;
   width: 150px;
   border: 1px solid;
}
#StatusBar{
   font-family: Arial, Helvetica, sans-serif;
   background-color: #FFF;
   text-align: right;
}
table {
    border-collapse: collapse;
}
table, th, td {
   border: 1px solid #AAA;
}
td {
   height: 12px;
   vertical-align: bottom;
   padding-left: 2px;
   padding-right: 2px;
}
td input{
   width: 100%;
   border: 0px;
   text-align: right;
}
td input[type=button]{
   text-align: center;
}

#Environment input{
   padding: 0px;
}

#SelectedColor, #SelectedBGColor{
   display: inline-block;
   width: 50px;
   height: 50px;
}

#Color{
   display: inline-block;
}

div.color-palete{
   display: inline-block;
   width: 10px;
   height: 10px;
}
